 - name: gather facts
   hosts: local
   connection: local
   vars:
    #convert string to list
    technologies: devops,ansible,python
    #convert dictionary to list
    tags:
      App: payment
      env: dev
    Application:
      - key: App
        value: payment
      - key: env
        value: dev
    name: chandana
    gmail:REbbaChandana@gmail.com
   tasks:
    - name: default variables
      ansible.builtin.debug:
        msg: "Hello, {{ name | default('chandana') }}"
    - name: convert string to list
      ansible.builtin.debug:
        msg: "technologies are {{ technologies | split(',') }}"
    - name: convert dict to list
      ansible.builtin.debug:
        msg: "tags are {{ tags| dict2items }}"
    - name: convert list to dict
      ansible.builtin.debug:
        msg: "Application are {{ Application | items2dict }}"
    - name: convert to upper
      ansible.builtin.debug:
        msg: "Application are {{ name | upper }}"
    - name: convert to lower
      ansible.builtin.debug:
        msg: "Application are {{ gmail | lower }}"
           

    
       