 - name: gather facts
   hosts: local
   connection: local
   vars:
    #convert string to list
    technologies: devops,ansible,python
    #convert dictionary to list
    tags:
      App: payment
      env: dev
    Application:
      - key: App
        value: payment
      - key: env
        value: dev
    name: chandana
    gmail: REbbaChandana@gmail.com
    IP: 234.578.987.347
   tasks:
    - name: default variables
      ansible.builtin.debug:
        msg: "Hello, {{ name | default('chandana') }}"
    - name: convert string to list
      ansible.builtin.debug:
        msg: "technologies are {{ technologies | split(',') }}"
    - name: convert dict to list
      ansible.builtin.debug:
        msg: "tags are {{ tags| dict2items }}"
    - name: convert list to dict
      ansible.builtin.debug:
        msg: "Application are {{ Application | items2dict }}"
    - name: convert to upper
      ansible.builtin.debug:
        msg: "name in upper is: {{ name | upper }}"
    - name: convert to lower
      ansible.builtin.debug:
        msg: "gmail in lowercase is: {{ gmail | lower }}"
    - name: convert yaml to json so store file content into a variable
      ansible.builtin.set_fact:
         demo_yaml: "{{ lookup('file','demo.yaml') | from_yaml }}"
    - name: convert yaml to json
      ansible.builtin.debug:
        msg: "converting to json, {{ demo_yaml | to_json }}"
    - name: convert yaml to json and copy into file
      ansible.builtin.copy:
        dest: ./demo.json
        content: "{{ demo_yaml | to_nice_json }}"
    - name: Check IP address is valid or not
      ansible.builtin.debug:
        msg: "IP is {{ IP | ansible.utils.ipv4}}"
    - name: pipe command module
      ansible.builtin.command: cat /etc/passwd | grep root
      register: command_output
      ignore_errors: true
    - name: print command output
      ansible.builtin.debug:
        msg: "{{ command_output }}"
    - name: pipe shell module
      ansible.builtin.shell: cat /etc/passwd | grep root
      register: shell_output
    - name: print shell output
      ansible.builtin.debug:
        msg: "{{ shell_output }}"
      
      
    
           

    
       